.coin-card-container {
  overflow: hidden;
  max-width: 1100px;
  margin: 1rem auto 0rem auto;
  display: flex;
  flex-wrap: unwrap;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.sub-nav ul li {
  list-style: none;
}

.sub-nav ul {
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
  gap: 5%;
}
.sub-nav {
  margin: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: large;
  align-items: center;
  position: relative;
  z-index: 2;
}

.sub-nav select,
.sub-nav input {
  font-size: 1rem;
  background-color: var(--offwhite);
  color: var(--peach);
  border-radius: 0.5rem;
  padding: 0.3rem 0.2rem;
  font-weight: 600;
  outline-color: var(--peach);
  width: 9.5rem;
}

.sub-nav h2 {
  color: var(--peach);
  font-size: 1.5rem;
  /* text-align: center; */
}

.home-content {
  position: relative;
  z-index: 0;
}

.home-heading {
  margin: 2rem 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr 1.5fr;
  background-color: #4a6494;
  box-shadow: 0px 0px 12px #2f405f;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem 0.7rem 2rem;
  color: var(--light-peach);
  position: relative;
  z-index: 0;
}
.home-heading h3 {
  background-color: #4a6494;
}

.coin-row {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr 1.5fr;
  align-items: center;
  /* text-align: center; */
  background-color: #4a6494;
  box-shadow: 0px 0px 12px #2f405f;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem 0.7rem 2rem;
  color: var(--offwhite);
  font-weight: 550;
}
.coin-row p,
.coin-row div,
.coin-row img {
  background-color: #4a6494;
}

.coin-row img {
  height: 40px;
}

.coin-row:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
}

.coin-name,
.coin-img-name {
  margin-left: -4rem;
}

.coin-img-name {
  display: flex;
  justify-content: start;
  gap: 4%;
  align-items: center;
}

.coin-symbol {
  font-size: 0.7rem;
  opacity: 0.8;
}

.small-font {
  font-size: 0.9rem;
  /* font-weight: 500; */
}

.currency-search-btns {
  position: relative;
  top: 0rem;
  z-index: 1000;
}
.dropdown-container {
  margin-top: 0.2rem;
  width: 20rem;
  height: 20rem;
  background-color: var(--offwhite);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.2rem;
  margin-left: -10rem;
  display: none;
  position: relative;
  z-index: 40;
  top: 0.2rem;
  right: 0.8rem;
  transform: translateZ(40px);
}

.dropdown-container a {
  text-decoration: none;
  background-color: var(--offwhite);
  color: var(--dark-color);
}

.dropdown-left-right {
  width: 90%;
  height: 1.5rem;
  margin: 0.3rem auto;

  padding: 0.3rem;
  background-color: var(--offwhite);
}
.right-side {
  font-size: 0.5rem;
  /* margin-right: 0.4rem; */
}

.drop-down-image {
  height: 1.2rem;
  width: 1.2rem;
}

.dropdown-coin-name {
  margin: 0rem 0.4rem;
  font-size: 1rem;
}

.dropdown-left-right,
.left-side,
.right-side {
  display: flex;
  justify-content: space-between;
  background-color: var(--offwhite);
  align-items: center;
  flex-flow: row unwrap;
  font-size: 1rem;
}
/* .left-side {
  gap: 2%;
} */

::-webkit-scrollbar {
  appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
}

@media (width<900px) {
  .small-font {
    font-size: 0.8rem;
    /* font-weight: 500; */
  }
  @media (max-width: 700px) {
    .exchange-row {
      display: grid;
      grid-template-columns: 0.6fr 2fr 1fr;
    }
    .coin-row {
      display: grid;
      grid-template-columns: 0.6fr 2fr 1fr;
    }
    .home-heading {
      display: grid;
      grid-template-columns: 0.6fr 2fr 1fr;
    }
  }
}
