.coin-card {
  margin: 2rem 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-size: x-large;
  color: var(--offwhite);
  align-items: center;
  font-weight: 700;
  gap: 5%;
  /* animation: slide 15s linear infinite; */
}

.coin-image {
  max-height: 100px;
  min-height: 20;
}
.coin-symbol {
  margin: 1rem auto 0.3rem auto;
  font-size: medium;
}
.coin-price {
  font-size: medium;
}
